.vp-doc h3 {
    margin: 0;
}

.vp-doc p {
    margin: 0;
}

.VPBadge {
    display: inline-block;
    margin-left: 13px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0 10px;
    line-height: 15px;
    font-size: 10px;
    font-weight: 500;
    transform: translateY(-2px);
}

.VPSidebar {
    background-color: transparent !important;
}

.VPSidebar .curtain {
    background-color: white !important;
}

.dark .VPSidebar .curtain {
    background-color: hsl(var(--background)) !important;
}

.dark .VPNavBar:not(.home.top) .content-body {
    background-color: hsl(var(--background)) !important;
}

.fill-emerald-500 {
    fill: #10b981;
}

.fill-slate-300 {
    fill: #cbd5e1;
}

.fill-slate-500 {
    fill: #64748b;
}

.fill-red-500 {
    fill: #ef4444;
}

.min-h-32 {
    min-height: 8rem;
}

.h-32 {
    height: 8rem;
}

.bg-blue-200 {
    background-color: #bfdbfe;
}

.bg-blue-300 {
    background-color: #93c5fd;
}

.bg-gray-100 {
    background-color: #f3f4f6;
}

.w-20 {
    width: 5rem;
}

.h-20 {
    height: 5rem;
}
