name: Build Vue
on: [ push ]
jobs:
  build_vue:
    runs-on: ubuntu-latest
    name: Build Vue
    steps:
      - uses: actions/checkout@v2
      - id: Build-Vue
        uses: xRealNeon/VuePagesAction@1.0.1
        with:
          username: 'devlive-community'
          reponame: 'shadcn-ui-vue-admin'
          token: ${{ secrets.GH_TOKEN }}
